body {
    background-color:#000;
    display:flex;
    height:100vh;
    margin:0;
    overflow:hidden
}

.container {
    display:flex;
    height:100%;
    width:100%
}

.image-container,.button-container {
    align-items:center;
    box-sizing:border-box;
    display:flex;
    justify-content:center
}

.image-container {
    flex:1
}

img {
    height:100%;
    object-fit:contain;
    width:100%
}

.button-container {
    flex:0 0 300px;
    flex-direction:column;
    gap:15px;
    padding:25px
}

button {
    background-color:#04548e;
    border:2px solid #3764cb;
    border-radius:7px;
    color:#fff;
    cursor:pointer;
    font-family:Calibri,sans-serif;
    font-size:17px;
    padding:12px 20px;
    transition:.2s;
    width:100%
}

button:hover {
    background-color:#3764cb;
    box-shadow:0 0 6px #60a5fa66;
    transform:scale(1.04)
}

button:active {
    transform:scale(0.99)
}

#copyright {
    bottom:4px;
    font-family:Calibri,sans-serif;
    position:fixed;
    right:4px
}